adf/pipeline/bricks_list_and_copy.json
{
	"name": "bricks_list_and_copy",
	"properties": {
		"activities": [
			{
				"name": "List files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "bricks_source",
						"type": "DatasetReference",
						"parameters": {
							"file_path": "/"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Foreach file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Handle file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "bricks_copy_and_archive_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_file_name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "repeish/bricks"
		},
		"annotations": []
	}
}