adf/pipeline/bricks_with_folders_handle_folder.json
{
	"name": "bricks_with_folders_handle_folder",
	"properties": {
		"activities": [
			{
				"name": "List files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "bricks_with_folders_source",
						"type": "DatasetReference",
						"parameters": {
							"file_path": "/",
							"folder_path": "@pipeline().parameters.folder_path"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Foreach file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter files').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Handle file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "bricks_with_folders_handle_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"folder_path": "@pipeline().parameters.folder_path",
									"file_name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "filter files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "List files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"folder_path": {
				"type": "string"
			}
		},
		"folder": {
			"name": "repeish/bricks_with_folders"
		},
		"annotations": []
	}
}