adf/pipeline/bricks_with_folders_list_folders.json
{
	"name": "bricks_with_folders_list_folders",
	"properties": {
		"activities": [
			{
				"name": "List folders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "bricks_with_folders_source",
						"type": "DatasetReference",
						"parameters": {
							"file_path": "/"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Foreach folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filter folders').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Handle file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "noop_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "filter folders",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "List folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List folders').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'Folder')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "repeish/bricks_with_folders"
		},
		"annotations": []
	}
}